<ul class="nav nav-pills nav-justified">
  <li class="active">
      <a  data-toggle="tab" href="#comp_31">資源</a></li>
  <li><a  data-toggle="tab" href="#comp_32">合約</a></li>
  <li><a  data-toggle="tab" href="#comp_33">計畫介面</a></li>

</ul>


<div class="tab-content">
  <div id="comp_31" class="tab-pane fade in active">
    <!-- <h3>comp_31</h3>
    <p>Some content.</p> -->

    <p><%= render 'shared/anp_factor31'%></p>
  </div>
  <div id="comp_32" class="tab-pane fade ">
      <!-- <h3>comp_22</h3>
      <p>Some content.</p> -->
      <p><%= render 'shared/anp_factor32'%></p>
  </div>
  <div id="comp_33" class="tab-pane fade ">
      <!-- <h3>comp_23</h3>
      <p>Some content.</p> -->
      <p><%= render 'shared/anp_factor33'%></p>
  </div>
  
</div>