
<body onload="draw();">
<div id="mynetwork"></div>
    <%= button_tag :class => "btn btn-primary" ,:onClick => "javascript:updateProbability()" do %>
        <%= t('.Increase')%>
    <% end %>

    <%= button_tag :class => "btn btn-primary" ,:onClick => "javascript:draw()" do %>
        <%= t('.Decrease')%>
    <% end %>




</body >