
<!-- <body onload="draw();">
 --><table class="view">
	
<tr>
	<td>
        <%= render 'shared/form'%>
	</td>
	<td>
		<h1>風險網路圖</h1>
        <div id="mynetwork"></div>
        <!-- <h5>分數為百分比</h5> -->
    </td>
		

</tr>
</table>
<!-- </body > -->