
<!-- <body onload="draw();">
 --><table class="view">
	
<tr>
	<td>
        <%= render 'shared/form'%>
	</td>
	<td>
        <div id="mynetwork"></div>
        
    </td>
		

</tr>
</table>
<!-- </body > -->