<!-- <h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p> -->
<h1> All Projects</h1>



<table class="table table-bpatented" id="projects" >
 <thead>
    <tr>
      <th>No. </th>
      <th>專案名稱</th>
      <th>專案管理人</th>
      <th>建立日期</th>
    </tr>
 </thead>
 <tbody>
    <% @projects.each_with_index do |project, i| %>
    <tr>
       <td><%= i+1  %></td>
       <td><%= link_to(project.project_name, edit_project_path(project)) %> </td>
       <td><%= project.manager_name%></td>
       <td><%= project.identify_date %> </td>
    </tr>
    <% end %>

  </tbody>
</table>