<div class="container">
  <ul class="nav nav-tabs">
    <li data-toggle="tab"><a href="#compare-class">風險類別之比較</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">產品工程<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">需求</a></li>
        <li><a href="#">設計</a></li>
        <li><a href="#">編碼與單元測試</a></li>
        <li><a href="#">整合與測試</a></li>
        <li><a href="#">專案的特殊需求</a></li>                        
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">開發環境<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">開發流程</a></li>
        <li><a href="#">開發系統</a></li>
        <li><a href="#">管理流程</a></li>
        <li><a href="#">管理方法</a></li>
        <li><a href="#">工作環境</a></li>                        
      </ul>
    </li>
<li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">計畫限制<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">資源</a></li>
        <li><a href="#">合約</a></li>
        <li><a href="#">計畫介面</a></li>                        
      </ul>
    </li>
  </ul>
</div>
